@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "colors.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  outline: 1px solid red;
}

:root {
	--title-color: rgb(0,0,0);
  --line-color: rgb(0,0,0);
  --sm-header-color: #d9d9d9;
  --md-header-color: #ffffff;
	font-family: "Share Tech Mono", monospace;
	scroll-behavior: smooth;
  min-width: 335px;
}

img {
	width: 100%;
	display: block; 
}

.container {
  max-width: 1200px;
}

.headergrid {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: -1;
  background-color: var(--sm-header-color);
}


.headergrid__img {
  height: 100vh; 
  object-fit: cover;
  object-position: right 40%;
}

.headergrid__rect {
  height: 100%;
  width: 100%;
}

.header__logocontainer {
  position: fixed;
  top: 5%;
  left: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: 800px) {
  .header__logocontainer {
    left: 55%;
  }
  .headergrid {
    background-color: var(--md-header-color);
    gap: 2%;
  }
}


.header__logocontainer-logo {
   height: 10vw;
}

.header__logocontainer-titlehyper:link, .header__logocontainer-titlehyper:visited {
    color: var(--title-color);
    text-decoration: none;
  }

.header__logocontainer-titlehyper:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--title-color);
  -webkit-text-fill-color: transparent;
}

.header__title {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
}

.header__scrolldown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -14vh;
  height: 14vh;
  gap: 10px;
}

.scrolldown-text {
  margin: 2px 0 5px 0;
}

.scrolldown-vertline {
  border-left: 2px solid var(--line-color);
  height: 10vh;
}

.header__coffeeflex {
  display: flex;
  margin-top: -75vh;
  justify-content: center;
}

/* @media (min-width: 800px) {
  .header__coffeeflex {
    margin-top: -10vh;
    margin: -60vh 0 0 60vw;
    transform: scale(120%);
    /* transform: scale(100%); */
    /* transition: 
      margin-top 3s 1s ease,
      transform 3s,
      margin 3s 3s ease; 
      /* transform 4s; */
    /* overflow: hidden; */


.header__coffeeflex-img {
  max-width: 200px;
}